*{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 50px 0 0 0;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: fit-content;
}
.logo img {
    width: 41.67px;
    height: 50px;
}
.logo p {
    font-weight: 600;
    font-size: 20px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
}
.logo p {
    font-weight: 600;
    font-size: 20px;
    color: #232323;
}
.nav a {
    color: #232323;
    transition: all 0.3s ease-in-out;
}
.nav a:hover{
    color: #232323af;
}
.icons {  
    display: flex;  
    flex-direction: none;  
    justify-content: center;  
    align-items: center;  
    align-content: center;  
  
    gap: 24px;  
  
    color: #232323;  
}  
  
.icons .fa-basket-shopping {  
    cursor: pointer;  
}  
  
.icons .fa-user {  
    cursor: pointer;  
}  
.icons .fa-heart {  
    cursor: pointer;  
}  
  
.banner {  
    position: relative;
    margin-top: 40px;  
}  
  
.banner img {  
    width: 100%;  
    height: 100%;   
}  
  
.banner-content {  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    align-content: center;  
  
    gap: 60px;  
  
    position: absolute;  
    top: 52px;  
    bottom: 0;  
    left: 263px;  
    right: 264px;  
  
    text-align: center;  
}  
  
.banner-content h1 {  
    font-weight: 600;  
    font-size: 58px;  
    color: #f9f9f9;  
}  
  
.banner-content h3 {  
    font-weight: 600;  
    font-size: 20px;  
    color: #f9f9f9;  
}
.banner-content button {
    border: none;
    outline: none;
    padding: 16px 66px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    color: #232323;
    background-color: #f9f9f9;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.banner-content button:hover {
    background-color: #f9f9f9d2;
}
.banner-content .fa-chewron-down:hover {
    color: #f9f9f9;
}
.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.catalog h2 {
    margin: 136px 0 96px 0;
    font-weight: 600;
    font-size: 36px;
    color: #232323;
    margin-right: auto;
}
.carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
}
.carts .cart {
    position: relative;
    background-color: #EDECEC;
    padding: 40px 90px;
    border-radius: 8px;
}
.cart .fa-heart {
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    padding: 30px;
    font-size: 18px;
    color: #989898;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.cart .fa-heart:hover {
    color: darkred;
}
.cart img {
    width: 100%;
    height: 100%;
}
.carts .cart-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 46px;
}
.carts .cart-content h4 {
    font-weight: 600;
    font-size: 18px;
    color: #232323;
}
.carts .cart-content p {
    font-weight: 700;
    font-size: 20px;
}
.carts .cart-content button {
    border: none;
    outline: none;
    background-color: #232323;
    color: #f9f9f9;
    padding: 17px 65px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.carts .cart-content button:hover {
    background-color: #232323de;
}
.catalog-button {
    border: none;
    outline: none;
    background-color: #232323;
    color: #f9f9f9;
    padding: 17px 65px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 90px;
}
.catalog-button:hover {
    background-color: #757575;
}
.popular-catalog {
    position: relative;
}
.popular-catalog h2{
    margin: 136px 0 96px 0;
}

.popular-carts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    gap: 20px;
}

.popular-carts .cart {
    position: relative;
    background-color: #EDECEC;
    padding: 40px 90px;
    border-radius: 8px;
}

.popular-carts .cart .fa-heart {
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: auto;
    right: 0;
    padding: 30px;
    font-size: 18px;
    color: #989898;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.popular-carts .cart .fa-heart:hover {
    color: red;
}

.popular-carts .cart img {
    width: 100%;
    height: 100%;
}

.popular-carts .cart-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    text-align: left;

    margin-top: 46px;
}

.popular-carts .cart-content h4 {
    font-weight: 500;
    font-size: 18px;
    color: #232323;
}

.popular-carts .cart-content p {
    font-weight: 700;
    font-size: 20px;
}

.popular-carts .cart-content button {
    border: none;
    outline: none;
    background-color: #232323;
    color: #f9f9f9;
    padding: 17px 65px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.popular-carts .cart-content button:hover {
    background-color: #232323de;
}
.partner h2{ 
    margin: 136px 0 96px 0; 
} 
.partner-log{ 
    display: flex; 
    gap: 120px; 
    margin-bottom: 125px; 
}
.anket{
    width: 100%;
    height: 100%;
    text-align: center;
    background: url("../assets/img/partner/email.png") ;
} 
.anket h3{ 
    color: #F9F9F9; 
    font-family: Montserrat; 
    font-size: 32px; 
    font-style: normal; 
    font-weight: 600; 
    line-height: normal; 
    padding-top: 45px; 
    margin-bottom: 95px; 
} 
form { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 130px; 
  } 
    
  input[type="email"] { 
     width: 400px; 
    height: 61px; 
    padding: 5px; 
    margin-right: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-left: -59px; 
  
    font-size: 18px; 
  } 
    
  button[type="submit"] { 
    width: 400px; 
    height: 61px; 
    padding: 5px 10px; 
    background-color: #fdfdfd; 
    color: #232323; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-family: Montserrat; 
    font-size: 18px; 
  } 
.phot-content p{
    color: #C6C6C6;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 10px;
    margin-left: 490px;
}
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 136px;
    background-color: #EDECEC;
    padding: 100px 90px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.footer-nav h3 {
    font-weight: 700;
    font-size: 14px;
    color: #232323;
}
/* 1024px */
@media ( max-width: 1024px ) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding: 50px 50px 0 50px;
    }
    .banner-content h1 {  
        font-weight: 600;  
        font-size: 40px;  
        color: #f9f9f9;  
    }  
    .banner-content h3 {  
        font-weight: 400;  
        font-size: 16px;  
        color: #f9f9f9;  
    }  
    .banner-content {  
        display: flex;  
        flex-direction: column;  
        justify-content: center;  
        align-items: center;  
        align-content: center;  
      
        gap: 40px;  
      
        position: absolute;  
        top: 52px;  
        bottom: 0;  
        left: 263px;  
        right: 264px;  
      
        text-align: center;  
    }  
    .catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 50px;
    }
    .popular-catalog {
        position: relative;
        padding: 0 50px;
    }
    .popular-carts .cart:last-child {
        display: none;
    }
    .partners {
        position: relative;
        padding: 0 50px;
    }
    .partners-img img:nth-last-child(1) {
        width: 96px;
        height: 96px;
        display: none;
    }
    .partners-img img:nth-last-child(2) {
        width: 96px;
        height: 96px;
        display: none;
    }
    .subscrition {
        padding: 50px 0 0 0;
    }
    .subscrition h2{
        font-weight: 600;
        font-size: 24px;
        color: #f9f9f9;
        margin-bottom: 80px;
    }
    .subscrition-email {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 60px;
        padding: 0 70px;
    }
    .subscrition-email input {
        outline: none;
        border: none;
        padding: 19px 0 19px 21px;
        border-radius: 4px;
        width: 320px;
        font-weight: 400;
        font-size: 10px;
        transition: all 0.3s ease-in-out;
        background-color: #F9F9F9f5;
    }
    .subscrition-email button {
        max-width: 420px;
        outline: none;
        border: none;
        padding: 19px 120px;
        border-radius: 4px;
        font-weight: 700;
    }
    .subscrition-error {
        width: fit-content;
        margin-left: auto;
        font-weight: 400;
        font-size: 12px;
        color: #C6C6C6;
        padding: 10px 100px 0 0;   
    }
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        margin-top: 136px;
        background-color: #EDECEC;
        padding: 100px 90px;
    }
}
@media ( max-width: 768px ) {
    .nav a {
        font-size: 14px;
    }
    .banner-content h1 {
        font-size: 36px;
    }
    .banner-content h3 {    
        font-size: 14px;  
    }  
    .banner-content button {  
        padding: 14px 56px;  
        font-size: 14px;    
    }  
     
}
@media (max-width: 375px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 24px;
        padding: 50px 50px;
    }
    .nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 14px;
        font-weight: 400;
        font-size: 16px;
    }
    .icons {  
        display: flex;  
        flex-direction: column;  
        justify-content: center;  
        align-items: center;  
        align-content: center;  
      
        gap: 24px;  
      
        color: #232323;  
    } 
    .banner img {  
        width: 100vw;  
        height: 300px;   
    }  
    .banner-content {  
        display: flex;  
        flex-direction: column;  
        justify-content: center;  
        align-items: center;  
        align-content: center;  
      
        gap: 20px;  
      
        position: absolute;  
        top: 22px;  
        bottom: 0;  
        left: 50px;  
        right: 50px;  
      
        text-align: center;  
    }  
    .banner-content h1 {  
        font-weight: 600;  
        font-size: 24px;  
        color: #f9f9f9;  
    }  
      
    .banner-content h3 {  
        font-weight: 600;  
        font-size: 12px;  
        color: #f9f9f9;  
    }
    .banner-content button {
        border: none;
        outline: none;
        padding: 10px 36px;
        border-radius: 4px;
        font-weight: 600;
        font-size: 14px;
        color: #232323;
        background-color: #f9f9f9;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }
    .catalog {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .catalog h2 {
        margin: 136px 0 96px 0;
        font-weight: 600;
        font-size: 36px;
        color: #232323;
    }
    .carts .cart-content button {
        border: none;
        outline: none;
        background-color: #232323;
        color: #f9f9f9;
        padding: 17px 50px;
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        font-size: 14px;
        cursor: pointer;
    }
    .popular-catalog h2{
        text-align: center;
    }
    .popular-carts {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    .popular-carts .cart-content h4 {
        margin: px 0 96px 0;
        font-weight: 600;
        font-size: 36px;
        color: #232323;
    }
    .partner h2{
        text-align: center;
        margin-top: 50px;
    } 
    .partner-log {
        display: none;
    }
    .partner-log{ 
        display: flex; 
        gap: 70px; 
        margin-bottom: 100px; 
    }
    .popular-catalog {
        position: relative;
        padding: 0;
    }
    .anket{
        width: 100%;
        height: 100%;
        text-align: center;
        background: url("../assets/img/partner/email.png") ;
    } 
    
.anket h3{ 
    color: #F9F9F9; 
    font-family: Montserrat; 
    font-size: 24px; 
    font-style: normal; 
    font-weight: 600; 
    line-height: normal; 
    padding-top: 45px; 
    margin-bottom: 95px; 
} 
form { 
    justify-content: center; 
    align-items: center; 
    gap: 50px; 
  } 
    
  input[type="email"] { 
     width: 50px; 
    height: 30px; 
    padding: 5px 90px; 
    margin-right: -30px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-left: 0px; 
  
    font-size: 14px; 
  } 
    
  button[type="submit"] { 
    width: 20px; 
    height: 30px; 
    padding: 5px 45px; 
    background-color: #fdfdfd; 
    color: #232323; 
    border: none; 
    border-radius: 4px; 
    font-style: normal;
    cursor: pointer; 
    font-family: Montserrat; 
    font-size: 8px; 
  } 
.phot-content p{
    color: #C6C6C6;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 20px
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin-top: 136px;
    background-color: #EDECEC;
    padding: 100px 90px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}
.footer-nav h3 {
    font-weight: 700;
    font-size: 14px;
    color: #232323;
    align-items: center;
}
}

